<template>
    <div class="q-pa-lg row justify-center">
        <div
            class="col"
            style="max-width: 500px"
        >
            <q-table
                v-if="isMounted"
                title="Schedules"
                :data="schedules"
                :columns="columns"
                row-key="UIDSchedules"
                flat
            >
                <template v-slot:top>
                    <q-btn
                        color="primary"
                        label="Add Schedule"
                        @click="onNewRow"
                    />
                </template>
                <template v-slot:body-cell="props">
                    <q-td :props="props">
                        <div v-if="props.col.name==='actions'">
                            <q-btn
                                dense
                                color="primary"
                                icon="edit"
                                @click="onUpdateRow(props.row)"
                            />                            <q-btn
                                dense
                                color="primary"
                                icon="delete"
                                @click="onDeleteRow(props.row)"
                            />
                        </div>
                        <div v-else>
                            {{props.row[props.col.field]}}
                        </div>
                    </q-td>
                </template>
            </q-table>
        </div>
        <q-dialog
            v-if="openDialog"
            v-model="openDialog"
        >
        <q-card class="q-dialog-plugin">
            <q-card-section>
                <div class="text-h6">
                    Schedule
                </div>
            </q-card-section>
            <q-separator />
            <q-card-section>
                <q-input
                    ref="Name"
                    :error="!schedule.sname || schedule.sname.length === 0"
                    error-message="Schedule Name is required."
                    label="Name"
                    v-model="schedule.sname"
                />
                <q-input
                    ref="Username"
                    :error="!schedule.username || schedule.username.length === 0"
                    error-message="Username is required."
                    label="Username"
                    v-model="schedule.username"
                />
            </q-card-section>
            <q-card-actions align="right">
                <q-btn
                    color="primary"
                    label="OK"
                    @click="onOKClick"
                />
                <q-btn
                    color="primary"
                    label="Cancel"
                    @click="onCancelClick"
                />
            </q-card-actions>
        </q-card>
        </q-dialog>
    </div>
</template>
<script>
export default {
  name: 'SchedulesIndex',
  data () {
    return {
      openDialog: false,
      schedule: null,
      scheduleModel: {
        UIDSchedule: null,
        sname: null,
        username: null
      },
      isMounted: false,
      schedules: [],
      columns: [
        {
          name: 'sname',
          label: 'Schedule Name',
          align: 'left',
          field: 'sname',
          sortable: true
        },
        {
          name: 'username',
          label: 'Username',
          align: 'left',
          field: 'username',
          sortable: true
        },
        {
          name: 'actions',
          label: 'Actions',
          align: 'left',
          field: null,
          sortable: false
        }
      ]
    }
  },
  mounted: function () {
    const collectionRef = this.$db.collection('schedules')
    collectionRef.get()
      .then((rows) => {
        rows.forEach((row) => {
          this.sensors.push(row.data())
        })
        this.isMounted = true
      })
  },
  methods: {
    onNewRow () {
      this.schedule = JSON.parse(JSON.stringify(this.scheduleModel))
      this.openDialog = true
    },
    onOKClick () {
      if (!this.$refs['Schedule Name'].hasError && !this.$refs['User name'].hasError) {
        const collectionRef = this.$db.collection('schedule')
        if (this.schedule.UIDSchedule === null) {
          collectionRef.add(this.schedule)
            .then((doc) => {
              this.schedule.UIDSchedule = doc.id
              var docRef = this.$db.collection('schedule').doc(doc.id)
              docRef.update({ UIDSchedule: doc.id })
                .then((response) => {
                  this.schedule.UIDSchedule = doc.id
                  this.schedules.push(this.schedule)
                  this.openDialog = false
                })
                .catch(function (error) {
                  console.error('Error adding document: ', error)
                })
            })
            .catch(function (error) {
              console.error('Error adding document: ', error)
            })
        } else {
          var docRef = this.$db.collection('schedule').doc(this.schedule.UIDSchedule)
          docRef.set(this.schedule)
            .then((response) => {
              const schedule = this.schedules.find(schedule => schedule.UIDSchedule === this.schedule.UIDSchedule)
              if (schedule) {
                for (const attributeName in this.schedule) {
                  schedule[attributeName] = JSON.parse(JSON.stringify(this.schedule[attributeName]))
                }
              }
              this.openDialog = false
            })
            .catch(function (error) {
              console.error('Error adding document: ', error)
            })
        }
      }
    },
    onCancelClick () {
      this.openDialog = false
    },
    onUpdateRow (schedule) {
      this.schedule = JSON.parse(JSON.stringify(this.scheduleModel))
      for (const attributeName in this.schedule) {
        this.schedule[attributeName] = JSON.parse(JSON.stringify(schedule[attributeName]))
      }
      this.openDialog = true
    },
    onDeleteRow (row) {
      this.$q.dialog({
        title: 'Delete',
        message: 'Confirm deletion.',
        ok: true,
        cancel: true
      }).onOK(() => {
        const docRef = this.$db.collection('schedule').doc(row.UIDSchedule)
        docRef.delete().then(() => {
          const index = this.schedules.findIndex(schedule => schedule.UIDSchedule === row.UIDSchedule)
          if (index >= 0) {
            this.schedules.splice(index, 1)
          }
        }).catch((error) => {
          console.error('Error removing document: ', error)
        })
      })
    }
  }
}
</script>
