<template>
  <q-page class="flex flex-center">
    <img
      alt="Quasar logo"
      src="~assets/quasar-logo-full.svg"
    >
    <q-btn
      class="q-mt-xl"
      color="white"
      text-color="blue"
      unelevated
      to="/Login"
      label="Login"
      no-caps
    />
  </q-page>
</template>

<script>
export default {
  name: 'PageIndex'
}
</script>
